{% extends '../layout.twig' %}

{# Страница, на которую можно вешать ссылки при разработке, альтернатива #! #}

{% set page = 'blank' %}

{% block heading %}
	<h2 class="container">Страница в разработке</h2>
{% endblock %}

{% block main %}{% endblock %}
