{% extends '../layout.twig' %}

{% set page_title = '- Магазин' %}

{% block heading %}
	<h2 class="container">Магазин готовых шаблонов</h2>
{% endblock %}

{% block main %}
	<main class="shop-page container">
		<form class="filters" method="POST" action="https://echo.htmlacademy.ru">
			<fieldset class="filter">
				<legend class="filter-title filter-title-indent">Стоимость:</legend>
				<div class="block-range">
					<div class="price-range">
						<div class="price-range-active"></div>
					</div>
					<button class="toggle toggle-min"></button>
					<button class="toggle toggle-max"></button>
				</div>
				<div class="price-fields">
					<label class="" for="start">
						От<input class="price-range-value" id="start" name="from" type="text" value="0">
					</label>
					<label class="price-shift" for="to">
						До<input class="price-range-value" id="to" name="to" type="text" value="15 000">
					</label>
				</div>
			</fieldset>
			<fieldset class="filter">
				<legend class="filter-title">Сетка:</legend>
				<p>
					<input class="visually-hidden" id="adaptive" type="radio" name="grid" value="adaptive" checked>
					<label class="checker checker-radio" for="adaptive">Адаптивная</label>
				</p>
				<p>
					<input class="visually-hidden" id="fixed" type="radio" name="grid" value="fixed">
					<label class="checker checker-radio" for="fixed">Фиксированная</label>
				</p>
				<p>
					<input class="visually-hidden" id="rubber" type="radio" name="grid" value="rubber" disabled>
					<label class="checker checker-radio" for="rubber">Резиновая</label>
				</p>
			</fieldset>
			<fieldset class="filter">
				<legend class="filter-title">Особенности:</legend>
				<p>
					<input class="visually-hidden" id="slider-check" type="checkbox" name="features" value="slider"
						checked disabled>
					<label class="checker" for="slider-check">Слайдер</label>
				</p>
				<p>
					<input class="visually-hidden" id="advantages-check" type="checkbox" name="features"
						value="advantages" checked disabled>
					<label class="checker" for="advantages-check">Блок преимуществ</label>
				</p>
				<p>
					<input class="visually-hidden" id="news-check" type="checkbox" name="features" value="news"
						checked>
					<label class="checker" for="news-check">Новости</label>
				</p>
				<p>
					<input class="visually-hidden" id="gallery-check" type="checkbox" name="features"
						value="gallery">
					<label class="checker" for="gallery-check">Галерея</label>
				</p>
				<p>
					<input class="visually-hidden" id="cart-check" type="checkbox" name="features" value="cart"
						disabled>
					<label class="checker" for="cart-check">Корзина</label>
				</p>
			</fieldset>
			<button class="alt-button button" type="submit">Показать</button>
		</form>

		<div class="shop-content">
			<div class="shop-sort">
				<b>Сортировать:</b>
				<ul class="group-type-link">
					<li><a class="group-type-links" href="#!">По цене</a></li>
					<li><a href="#!">По типу</a></li>
					<li><a href="#!">По названию</a></li>
				</ul>
				<ul class="group-asc-desc">
					<li><a class="group-by-asc group-type-links" href="#!"><span
								class="visually-hidden">Сортировать по убыванию</span></a></li>
					<li><a class="group-by-desc" href="#!"><span
								class="visually-hidden">Сортировать по возрастанию</span></a>
					</li>
				</ul>
			</div>

			<ul class="shop-list">
				<li class="shop-list-item">
					<img src="img/img-sedona.jpg" alt="Промо сайта Седона" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">Sedona</a>
						</h2>
						<p>Информационный сайт<br> для туристов</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
				<li class="shop-list-item">
					<img src="img/img-pink.jpg" alt="Промо сайта Пинк" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">Pink App</a>
						</h2>
						<p>Продуктовый лендинг<br> приложения для iOS и Android</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
				<li class="shop-list-item">
					<img src="img/img-barbershop.jpg" alt="Промо сайта Барбершоп" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">Barbershop</a>
						</h2>
						<p>Сайт салоны красоты.<br> Для мужчин, да.</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
				<li class="shop-list-item">
					<img src="img/img-mishka.jpg" alt="Промо сайта Мишка" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">Mishka</a>
						</h2>
						<p>Интернет-магазин<br> вязаных игрушек</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
				<li class="shop-list-item">
					<img src="img/img-aplus.jpg" alt="Промо сайта Аплюс" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">A Plus</a>
						</h2>
						<p>Лендинг курсов повышения<br> квалификации</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
				<li class="shop-list-item">
					<img src="img/img-kvast.jpg" alt="Промо сайта Кваст" width="360" height="576">
					<div class="shop-list-about">
						<h2>
							<a href="#!">Кваст</a>
						</h2>
						<p>Промо-сайт производителя<br> крафтового кваса</p>
						<a class="button good-price" href="#!">9 900 руб.</a>
					</div>
				</li>
			</ul>

			<ul class="pagination">
				<li><a class="pagination-link pagination-link-current button" href="#!">1</a></li>
				<li><a class="pagination-link button" href="#!">2</a></li>
				<li><a class="pagination-link button" href="#!">3</a></li>
				<li><a class="alt-button button" href="#!">Следующая</a></li>
			</ul>
		</div>
	</main>
{% endblock %}
